
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
@await Component.InvokeAsync("_LayoutHeaderComponentPartial")

<body>
	<div class="wrapper">
		@await Component.InvokeAsync("_LayoutNavbarComponentPartial")
		@await Component.InvokeAsync("_LayoutSidebarComponentPartial")

		<div class="main-panel">
			@RenderBody()
			@await Component.InvokeAsync("_LayoutFooterComponentPartial")

			
		</div>
	</div>
	</div>
	</div>
	
</body>

@await Component.InvokeAsync("_LayoutScriptsComponentPartial")
@RenderSection("Scripts", required: false)
</html>
