@model LoginDto
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>


	<link rel="stylesheet" type="text/css" href="~/Register/css/nunito-font.css">

	<link rel="stylesheet" href="~/Register/css/style.css" />
</head>
<body class="form-v6" >
	<div class="page-content" style="background-color:black;height:100vh">
		<div class="form-v6-content" style="background-color: #E3651D !important">
			<div class="form-left">
				<img src="~/Register/images/hamburger.jpg" alt="form" style="width:500px;height:450px">
			</div>
			<form class="form-detail" method="post">
				<h2>Giriş Sayfası</h2>
			
				<div class="form-row">
					<input type="text" asp-for="Username" class="input-text" placeholder="Kullanıcı Adı" required>
				</div>
			
				<div class="form-row">
					<input type="password" asp-for="Password" name="password" id="password" class="input-text" placeholder="Şifre" required>
				</div>
				
				<div class="form-row-last">
					<input type="submit" name="register" class="register" style="background-color:#22092C !important" value="Giriş Yap">
				</div>
			</form>
		
		</div>
	</div>
</body>
</html>