@model List<ResultNotificationDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<style>

 

    .dropdown-list-image {
        position: relative;
        height: 2.5rem;
        width: 2.5rem;
    }

        .dropdown-list-image img {
            height: 2.5rem;
            width: 2.5rem;
        }

    .btn-light {
        color: #2cdd9b;
        background-color: #e5f7f0;
        border-color: #d8f7eb;
    }

</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css" integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />

<br />
<br />
<br />


<div class="container ">
    <div class="row">
        <div class="col-lg-9 mx-auto">
            <div class="box shadow-sm rounded bg-white mb-3">
                <div class="box-title border-bottom p-3">
                    <h6 class="m-0">Tüm Bildirimler</h6>
                </div>
                <div class="box-body p-0">
                    @foreach(var item in Model)
                    {
                        
                    <div class="p-3 d-flex align-items-center bg-light border-bottom osahan-post-header">
                        <div class="dropdown-list-image mr-3">
                         
                            <img class="rounded-circle" src="~/Admin/assets/img/notification_icon.png" alt="" />
                        </div>
                        <div class="font-weight-bold mr-3">
                            <div class="text-truncate">@item.Description</div>
                            <div class="small">@item.Date.ToShortDateString()</div>
                        </div>
                        <span class="ml-auto mb-auto">
                                @if (@item.Status == true)
                                {
                                    <span  class="badge badge-success mr-2">Okundu</span>

                                }
                                @if (@item.Status == false)
                                {
                                    <span class="badge badge-warning mr-2">Okunmadı</span>

                                }
                            <div class="btn-group">
                                  
                                <button type="button" class="btn btn-light btn-sm rounded" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="mdi mdi-dots-vertical"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="/Notification/ChangeNotificationStatusTrue/@item.NotificationId" ><i class="mdi mdi-close"></i> Okundu Olarak İşaretle</a>
                                        <a class="dropdown-item" href="/Notification/ChangeNotificationStatusFalse/@item.NotificationId"><i class="mdi mdi-close"></i> Okunmadı Olarak İşaretle</a>
                                        <a class="dropdown-item" href="/Notification/RemoveNotification/@item.NotificationId"><i class="mdi mdi-delete"></i> Yorumu Sil</a>
                                </div>
                            </div>
                            <br />
                            <div class="text-right text-muted pt-1">3d</div>
                        </span>
                    </div>
                    }
                </div>
            </div>
            
        </div>
    </div>
</div>

