<footer class="footer">
	<div class="container-fluid">
		
		<div class="copyright ml-auto">
			@DateTime.Now.Year, Geliştiren <i class="la la-heart heart text-danger"></i> by <a href="#">Berk Özden</a>
		</div>
	</div>
</footer>