
<style>
    .sidebar li .submenu {
        list-style: none;
        margin: 0;
        padding: 0;
        padding-left: 1rem;
        padding-right: 1rem;
    }</style>

<div class="sidebar">
    <div class="scrollbar-inner sidebar-wrapper">
        <div class="user">
            <div class="photo">
                <img src="~/Admin/assets/img/profile.jpg">
            </div>
            <div class="info">
                <a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                    <span>
                        Berk Özden
                        <span class="user-level">Admin</span>
                        <span class="caret"></span>
                    </span>
                </a>

                <div class="clearfix"></div>

                <div class="collapse in" id="collapseExample" aria-expanded="true" style="">
                    <ul class="nav">
                        <li>
                            <a href="/Settings/Index/">
                                <span class="link-collapse">Profilim</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Settings/Index/">
                                <span class="link-collapse">Profili Güncelle</span>
                            </a>
                        </li>
                      
                    </ul>
                </div>
            </div>
        </div>

        <ul class="nav">
            <div class="nav-item">
                <a>
                    <i class="la la-tripadvisor"></i>
                    <p>Anlık Client Sayısı: <strong id="clientcountvalue"></strong></p>
                </a>
            </div>
           
            <li class="nav-item has-submenu">
                <a class="nav-link" href="#">   <i class="la la-home"></i> Anasayfa İşlemleri  <span class="la la-angle-down ml-3"></span></a>
                <ul class="submenu collapse">
                    <li class="nav-item">
                        <a href="/About/Index/">
                            <i class="la la-edit"></i>
                            <p>Hakkımda Bilgisi</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Testimonial/Index/">
                            <i class="la la-paperclip"></i>
                            <p>Referanslar</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Contact/Index/">
                            <i class="la la-paper-plane"></i>
                            <p>İletişim Bilgisi</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Discount/Index/">
                            <i class="la la-diamond"></i>
                            <p>Günün İndirimleri</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Feature/Index/">
                            <i class="la la-crosshairs"></i>
                            <p>Öne Çıkanlar</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/SocialMedia/Index/">
                            <i class="la la-globe"></i>
                            <p>Sosyal Medya</p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="/Contact/Index/">
                            <i class="la la-weixin"></i>
                            <p>İletişim</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="/Statistics/Index">
                    <i class="la la-bar-chart"></i>
                    <p>İstatistikler</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Product/Index/">
                    <i class="la la-cutlery"></i>
                    <p>Ürünler</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Category/Index/">
                    <i class="la la-list"></i>
                    <p>Kategoriler</p>
                </a>
            </li>
            <li class="nav-item has-submenu">
                <a class="nav-link" href="#">
                    <i class="la la-phone"></i> Masalar  <span class="la la-angle-down ml-3"></span>
                </a>
                <ul class="submenu collapse">
                    <li class="nav-item">
                        <a href="/RestaurantTable/TableListByStatus">
                            <i class=" la la-delicious"></i>
                            <p>Anlık Masa Durumu</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/RestaurantTable/Index/">
                            <i class="la la-table"></i>
                            <p>Masalar</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item has-submenu">
                <a class="nav-link" href="#">   <i class="la la-phone"></i> Rezervasyonlar  <span class="la la-angle-down ml-3"></span></a>
                <ul class="submenu collapse">
                    <li class="nav-item">
                        <a href="/Booking/Index/">
                            <i class="la la-bell"></i>
                            <p>Rezervasyonlar</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Mail/Index/">
                            <i class="la la-envelope-o"></i>
                            <p>Mail Gönder</p>
                        </a>
                    </li>
                </ul>
            </li>


           
         
          
            <li class="nav-item">
                <a href="/Login/LogOut/">
                    <i class="la la-sign-out"></i>
                    <p>Çıkış Yap</p>
                </a>
            </li>

        </ul>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.querySelectorAll('.sidebar .nav-link').forEach(function (element) {

            element.addEventListener('click', function (e) {

                let nextEl = element.nextElementSibling;
                let parentEl = element.parentElement;

                if (nextEl) {
                    e.preventDefault();
                    let mycollapse = new bootstrap.Collapse(nextEl);

                    if (nextEl.classList.contains('show')) {
                        mycollapse.hide();
                    } else {
                        mycollapse.show();

                        var opened_submenu = parentEl.parentElement.querySelector('.submenu.show');

                        if (opened_submenu) {
                            new bootstrap.Collapse(opened_submenu);
                        }
                    }
                }
            });
        })
    });
</script>

<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

<script type="text/javascript">

    $(document).ready(() => {

        var connection = new signalR.HubConnectionBuilder().withUrl("https://localhost:7026/SignalRHub").build();
        $("#connstatus").text(connection.state);
        connection.start().then(() => {
            $("#connstatus").text(connection.state);

        }).catch((err) => { console.log(err) });


        connection.on("ReceiveClientCount", (clientCount) => {
            $("#clientcountvalue").text(clientCount)
        });
    });

</script>