@model RegisterDto
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>


	<link rel="stylesheet" type="text/css" href="~/Register/css/nunito-font.css">

	<link rel="stylesheet" href="~/Register/css/style.css" />
</head>
<body class="form-v6" >
	<div class="page-content" style="background-color:black;height:100vh">
		<div class="form-v6-content" style="background-color: #E3651D !important;margin:1.97rem 0; height:600px">
			<div class="form-left">
				<img src="~/Register/images/restaurant.jpg" alt="form" style="width:500px;height:600px">
			</div>
			<form class="form-detail"  method="post">
				<h2>Yeni Kullanıcı Kayıt</h2>
				<div class="form-row">
					<input type="text"  asp-for="Name" class="input-text" placeholder="Adınız" required>
				</div>
				<div class="form-row">
					<input type="text"  asp-for="Surname" class="input-text" placeholder="Soyadınız" required>
				</div>
				<div class="form-row">
					<input type="text" asp-for="Username"  class="input-text" placeholder="Kullanıcı Adı" required>
				</div>
				<div class="form-row">
					<input type="email" asp-for="Mail" class="input-text" placeholder="Email" >
				</div>
				<div class="form-row">
					<input type="password" asp-for="Password" name="password" id="password" class="input-text" placeholder="Şifre" required>
				</div>
			
				<div class="form-row-last">
					<input type="submit" name="register" style="background-color:#22092C !important" class="register" value="Oluştur">
				</div>
			</form>
		</div>
	</div>
</body>
</html>